<div class="main">
  <div class="form-heading">
    <h1>ログインする</h1>
  </div>
  <div class="form-body">
    <%= form_tag("/login") do %>
      <input name="email" placeholder="メールアドレス" value="<%= @email %>">
      <input type="password" name="password" placeholder="パスワード (半角英数字を含む8-12文字)" value="<%= @password %>">
      <button class="login-btn">ログイン</button>
    <% end %>
  </div>
    <% if @error_message %>
      <div class="form-error">
        <%= @error_message %>
      </div>
    <% end %>
</div>