<div class="show-main">
  <div class="show-sidebar">
      <%= render partial: 'users/account' %>
  <div class="mypage-menu">
    <%= render partial: 'mypage-users' %>
  </div>
  <div class="tabbox-contents">
    <%= render partial: 'triangle-users' %>
    <div class="tabbox_top">
      <div class="tabbox_top_count">
        <li>連続アクセス数</li>
        <li>レッスン受講数</li>
        <li>テスト対策受講数</li>
      </div>
      <div class="tabbox_top_info_today">
        <li>今日は何の日？</li>
      </div>
      <div class="tabbox_top_info_to">
        <li>受講者様へのお知らせ</li>
      </div>
      <div class="tabbox_top_info_from">
        <li>Deutschからのお知らせ</li>
      </div>
    </div>
  </div>
</div>