<div class="show-main">
  <div class="show-sidebar">
    <div class="show-user">
      <img src="<%= "/user_images/#{@user.image_name}" %>" value="<%= @user.image_name %>"> 
    </div>
    <div class="show-account">
      <h2><%= @user.name %></h2>
      <div class="show-account_edit">
        <% if @user.id == @current_user.id %>
          <%= link_to("アカウント編集", "/users/#{@user.id}/edit") %>
        <% end %>
      </div>
    </div>
    <div class="mypage-menu">
      <ul class="mypage-menu_container">
        <a href="#"><i class="fas fa-home"></i>トップ</a>
      </ul>
      <ul class="mypage-menu_container">
        <a href="#"><i class="fas fa-chalkboard-teacher"></i>レッスン</a>
      </ul>
      <ul class="mypage-menu_container">
        <a href="#"><i class="fas fa-pencil-alt"></i>テスト対策</a>
      </ul>
      <ul class="mypage-menu_container">
        <a href="#"><i class="fas fa-book"></i>文法まとめ</a>
      </ul>
      <ul class="mypage-menu_container">
        <a href="#"><i class="fas fa-spell-check"></i>重要単語</a>
      </ul>
      <ul class="mypage-menu_container">
        <a href="#"><i class="far fa-question-circle"></i>質問</a>
      </ul>
    </div>
  </div>
</div>