<div class="show-main">
  <div class="show-sidebar">
      <%= render partial: 'users/account' %>
  <div class="mypage-menu">
    <%= render partial: 'mypage-users' %>
  </div>
  <div class="tabbox-contents">
    <%= render partial: 'triangle-users' %>
    <div class="tabbox_top">
      <div class="tabbox_top_info_today">
        <li>今日のドイツ豆知識 「ドイツの文化」</li>
        <blockquote>
          <p>歴史的にドイツは「詩人と思想家の国（Das Land der Dichter und Denker）」と呼ばれてきた。連邦各州が文化施設を担当しており、ドイツには助成を受けた240の劇場、数百の交響楽団、数千の博物館。そして2万5000以上の図書館がある。これらの文化施設は多くの人々に利用されており、毎年延べ9100万人のドイツ人が博物館を訪れ、20万人が劇場やオペラ、3600万人が交響楽団を鑑賞している。国際連合教育科学文化機関は、ドイツでは36件を世界遺産リストに登録している。ドイツは高いレベルの男女平等、障害者の権利促進、同性愛者に対する法的社会的寛容を確立している。ゲイとレズビアンはパートナーの遺伝的子供を養子とすることができ、2001年以降にはシビル・ユニオン（結婚に準じる権利）が認められた。1990年代半ば以降、ドイツは移民に対する態度を変えており、ドイツ政府とドイツ人の過半数が移民の管理は資格基準に基づいて許可されねばならないと認識するようになった。ドイツは2010年に世界でもっとも賞賛される国の統計で50か国中第2位に挙げられた。2013年のBBCの世論調査によれば、ドイツは世界でもっとも肯定的な影響を与えている国と認められている。ドイツの祝日は啓蒙思想の犠牲となった歴史をもち、ドイツ連邦制を象徴する文化である。ドイツはカトリック・プロテスタントが混在しているため、元日やドイツ統一の日のようにドイツ全土で祝日とされている日のほかに、カトリック信者の多い州だけ、あるいはプロテスタント信者の多い州だけ祝われる日が存在するため、州によって祝日は異なっている。</p>
          <cite>引用：フリー百科事典『ウィキペディア（Wikipedia）』<a href="https://ja.wikipedia.org/wiki/%E3%83%89%E3%82%A4%E3%83%84">ドイツ</a></cite>
        </blockquote>
      </div>
      <div class="tabbox_top_info_to">
        <li>受講者様へのお知らせ</li>
          <p>21.11.12 プロフィール画像を登録できるようになりました <span style="color:red">NEW!</span></p>
      </div>
      <div class="tabbox_top_info_from">
        <li>Deutschからのお知らせ</li>
          <p>21.11.11 レッスン【日常会話】が追加されました <span style="color:red">NEW!</span></p>
          <p>21.11.10 重要単語【ABC】が更新されました</p>
      </div>
    </div>
  </div>
</div>