<div class="about-main">
  <div class="form-heading">
    <h3>Deutschってどんなサイト？</h3>
  </div>
  <div class="form-about">
    <p>Deutsch（ドイチュ）は、ドイツ語の総合学習サイトです。<br><br>
    日常会話からテスト対策まで、勉強に役立つ様々なコンテンツをご用意しています。<br><br>
    わからない事があれば、仲間に質問することもできます。<br><br>
    さあ、ドイツ語の旅に出かけましょう！</p><br><br>
  </div>
  <div class="about-btn">
    <a href="signup" class="btn signup">新規登録はこちら</a>
  </div>
</div>