<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Deutsch</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <div class="header">
      <div class="header-logo">Deutsch</div>
      <div class="header-list">
        <ul>
          <li>Deutschとは</li>
          <li>レッスン一覧</li>
          <li>お問い合わせ</li>
        </ul>
      </div>
    </div>
    <div class="main">
    </div>
    <div class="footer">
      <div class="footer-logo">Deutsch</div>
      <div class="footer-list">
        <ul>
          <li>特定商取引の表記</li>
          <li>ご利用規約</li>
          <li>お問い合わせ</li>
        </ul>
      </div>
    </div>
  </body>
</html>