<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Deutsch</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="header-logo">
        <a href="/home" class="header-logo">Deutsch</a> 
      </div>
      <div class="header-right">
        <% if @current_user %>  
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", {method: "post"}) %>
          </li>
        <% else %>
          <a href="/about" class="login">Deutschとは</a>
          <a href="/signup" class="login">新規登録</a>
          <a href="/login" class="login">ログイン</a>
        <% end %>
      </div>
    </header>
    <div class="main">
      <div class="copy-container">
        <h1>Guten Tag</h1>
        <h2>ドイツ語の世界にようこそ</h2>
        <div class="btn-wrapper">
          <a href="signup" class="btn signup">新規登録はこちら</a>
          <p>または</p>
          <a href="#" class="btn facebook">
            <span class="fa fa-facebook"></span>
            Facebookで登録
          </a>
          <a href="#" class="btn google">
            <span class="fa fa-google"></span>
            googleで登録
          </a>
        </div>
      </div>
      <div class="contents">
        <h3 class="section-title">学べるレッスン</h3>
        <div class="contents-item">
          <img src="#">
          <p>A1レベル</p>
        </div>
        <div class="contents-item">
          <img src="#">
          <p>A2レベル</p>
        </div>
        <div class="contents-item">
          <img src="#">
          <p>B1レベル</p>
        </div>
        <div class="contents-item">
          <img src="#">
          <p>B2レベル</p>
        </div>
        <div class="contents-item">
          <img src="#">
          <p>C1レベル</p>
        </div>
        <div class="contents-item">
          <img src="#">
          <p>C2レベル</p>
        </div>
      </div>
    </div>
    <div class="contact-form">
      <h3 class="section-title">お問い合わせ</h3>
      <p>メールアドレス</p>
      <input>
      <p>お問い合わせ内容</p>
      <textarea></textarea>
      <input class="contact-submit" type="submit" value="送信">
    </div>
    <footer>
      <div class="footer-logo">Deutsch</div>
      <div class="footer-list">
        <ul>
          <li>特定商取引の表記</li>
          <li>ご利用規約</li>
          <li>お問い合わせ</li>
        </ul>
      </div>
    </footer>
  </body>
</html>