<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Deutsch</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="copy-container">  
      <div class="slide-top">
        <div>
          <img src="https://s3.ap-northeast-1.amazonaws.com/deutsch.jp/2968601_m.jpeg" alt="ブランデンブルク門" width="1200px" height="750px">
        </div>
        <div>
          <img src="https://s3.ap-northeast-1.amazonaws.com/deutsch.jp/3591210_m.jpeg" alt="ケルン大聖堂とホーエンツォレルン橋" width="1200px" height="750px">
        </div>
        <div>
          <img src="https://s3.ap-northeast-1.amazonaws.com/deutsch.jp/279690_m.jpeg" alt="ハイデルベルクの街並み" width="1200px" height="750px">
        </div>
        <div>
          <img src="https://s3.ap-northeast-1.amazonaws.com/deutsch.jp/5010990_m.jpeg" alt="ノイシュヴァンシュタイン城" width="1200px" height="750px">
        </div>
        <div>
          <img src="https://s3.ap-northeast-1.amazonaws.com/deutsch.jp/frankfurt.jpg" alt="フランクフルトのクリスマスマーケット" width="1200px" height="750px">
        </div>
      </div>
      <div class="container_top">
        <h1>Guten Tag</h1>
        <h2>ドイツ語の世界にようこそ</h2>
        <div class="btn-wrapper">
          <a href="signup" class="btn signup">新規登録はこちら</a>
          <p>または</p>
          <a href="#" class="btn facebook">
            <span class="fa fa-facebook"></span>
            Facebookで登録
          </a>
          <a href="#" class="btn google">
            <span class="fa fa-google"></span>
            googleで登録
          </a>
        </div>
      </div>
      <h3 class="section-title">カリキュラム</h3>
      <div class="container_bottom">
        <div class="contents">
          <div class="contents-item-a1">
            <p class="btn-mouseover-a1">
              <a href="#" target="_brank">A1レベル</a>
            </p>
            <div class="mouseover__box-a1">
              <p>- 相手がゆっくりと明確に発音してくれれれば、簡単な言葉でコミュニケーションすることができる<br><br>
              - 日常的でよく使われる表現や簡単な文（例えば自分の家族について、買い物や仕事、身近なことについての情報）を理解し、活用することができる<br><br>
              - 自分や他の人を紹介したり、他の人に個人的なこと、例えばどこに住んでいるのか、どんな人を知っているのか、どんなものを持っているかなどを質問をすることができる</p>
            </div>
          </div>
          <div class="contents-item-a2">
            <p class="btn-mouseover-a2">
              <a href="#" target="_brank">A2レベル</a>
            </p>
            <div class="mouseover__box-a2">
              <p>- 日常でよく使われる文や表現を理解し、使いこなすことができる<br><br>
              - 単純な、よくある状況でコミュニケーションでき、日常的になじみのあるテーマについて情報交換できる<br><br>
              - 簡単な言い方で、自分の出身地や学歴、身近な状況や必要なものについて説明することができる</p>
            </div>
          </div>
          <div class="contents-item-b1">
            <p class="btn-mouseover-b1">
              <a href="#" target="_brank">B1レベル</a>
            </p>
            <div class="mouseover__box-b1">
              <p>- 明瞭な標準ドイツ語が使われ、仕事、学校、余暇などの身近な事柄が扱われている場合に、主な情報を理解することができる<br><br>
              - ドイツ語圏を旅行する際に出会うほぼすべての状況に対応することができる<br><br>
              - 身近なテーマや興味のある領域について、簡単な表現でまとまった内容を伝えることができる<br><br>
              - 自分の経験や出来事を説明したり、夢や希望、目標について詳細に述べることができる。また、計画や見解に簡単な論拠や説明を加えることができる</p>
            </div>
          </div>
          <div class="contents-item-b2">
            <p class="btn-mouseover-b2">
              <a href="#" target="_brank">B2レベル</a>
            </p>
            <div class="mouseover__box-b2">
              <p>- 具体的、あるいは抽象的なテーマに関する複雑な文の主な内容を理解し、自分の専門領域では専門的な議論も理解することができる<br><br>
              - 自然に、滑らかに意思を伝え、ドイツ語を母語とする人と、互いにとくに苦労することなく普通に会話することができる<br><br>
              - 幅広いテーマについて、明確で詳細に意見を述べ、時事的な問題への見解を表明し、様々な可能性の長所、短所を挙げることができる</p>
            </div>
          </div>
          <div class="contents-item-c1">
            <p class="btn-mouseover-c1">
              <a href="#" target="_brank">C1レベル</a>
            </p>
            <div class="mouseover__box-c1">
              <p>- 広範囲のテーマに関する、高度な内容の比較的長い文章を理解し、行間に含まれている意味をも把握することができる<br><br>
              - 言葉を探しているという印象を与えずに、自然に、滑らかに話すことができる<br><br>
              - 社会で、職場で、また学校や大学で、言語を効果的に、柔軟に使いこなすことができる<br><br>
              - 複雑な事柄について、明確に、きちんと文章を構成して、詳しく述べることができる</p>
            </div>
          </div>
          <div class="contents-item-c2">
            <p class="btn-mouseover-c2">
              <a href="#" target="_brank">C2レベル</a>
            </p>
            <div class="mouseover__box-c2">
              <p>- ドイツ語で読んだり聞いたりすることを、実質上すべて、即座に理解することができる<br><br>
              - 様々な媒体から見聞きした情報を要約でき、その際、その内容の根拠と説明を、論理的な叙述で再構成することができる<br><br>
              - 自然に極めて流暢に話し、複雑な事柄においても細かいニュアンスを明確に表現することができる</p>
            </div>
          </div>
        </div>
        <div class="contents">
          <div class="contents-item-d1">
            <p>日常会話</p>
          </div>
          <div class="contents-item-d2">
            <p>トラベル</p>
          </div>
          <div class="contents-item-d3">
            <p>ビジネス</p>
          </div>
          <div class="contents-item-d4">
            <p>文法</p>
          </div>
          <div class="contents-item-d5">
            <p>単語</p>
          </div>
          <div class="contents-item-d6">
            <p>熟語</p>
          </div>
        </div>
        <div class="contents">
          <div class="contents-item-e1">
            <p class="btn-mouseover-e1">
              <a href="#" target="_brank">Test DaF</a>
            </p>
            <div class="mouseover__box-e1">
              <p>- ドイツ国外の留学希望者がドイツ語能力を証明するための、最も重要な語学能力試験です。<br><br>
              - TestDaFは（大学関連分野での）就職活動などにおいて、語学能力証明書としても利用できます。TestDaFで好成績を取得すると、大学研究室や雇用者に良い印象を残すことができるでしょう。</p>
            </div>
          </div>
          <div class="contents-item-e2">
            <p class="btn-mouseover-e2">
              <a href="#" target="_brank">Telc</a>
            </p>
            <div class="mouseover__box-e2">
              <p>- Telcは、ドイツ語検定だけではなく、様々な言語の検定試験を実施しています。ドイツ国内では、多くの研究所や公的機関と提携し、語学検定試験の実施機関として中心的な役割を担い、一部の語学学校では、コースの修了試験として採用しています。</p>
            </div>
          </div>
          <div class="contents-item-e3">
            <p class="btn-mouseover-e3">
              <a href="#" target="_brank">Goethe</a>
            </p>
            <div class="mouseover__box-e3">
              <p>- ゲーテ・インスティテュートによる、初級者から上級者までのレベル別検定試験です。外国語としてのドイツ語の能力を証明するものとして国際的に認められています。</p>
            </div>
          </div>
          <div class="contents-item-e4">
            <p class="btn-mouseover-e4">
              <a href="#" target="_brank">ÖSD</a>
            </p>
            <div class="mouseover__box-e4">
              <p>- オーストリア政府公認ドイツ語能力検定試験（ÖSD）はヨーロッパ議会が定める厳正な基準に基づいた国家公認のドイツ語能力検定試験です。</p>
            </div>
          </div>
          <div class="contents-item-e5">
            <p class="btn-mouseover-e5">
              <a href="#" target="_brank">DSH</a>
            </p>
            <div class="mouseover__box-e5">
              <p>- ドイツの各大学が実施する、入学に必要なドイツ語能力を証明するための検定試験です。合格すれば、ドイツ語で聴講し、ディスカッションし、レポートを書き、単位取得試験を受けるなど、学生生活がドイツ語で不自由なく送れるとみなされます。</p>
            </div>
          </div>
          <div class="contents-item-e6">
            <p class="btn-mouseover-e6">
              <a href="#" target="_brank">独検</a>
            </p>
            <div class="mouseover__box-e6">
              <p>- ドイツ語技能検定試験（独検）は，日本におけるドイツ語の普及と向上，ドイツ語教育の充実と発展を目的として1992年「財団法人ドイツ語学文学振興会（当時）」主催により発足しました。以来「独検」は20年以上にわたり，日本の高等教育機関やドイツ語教育関係者の協力のもと，日本の団体が主催する唯一のドイツ語検定試験として日本全国で実施されています。</p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="section-title">お問い合わせ</h3>
      <div class="contact-form">
        <input type="text" name="name" placeholder="お名前" class="contact-name">
        <input type="text" name="email" placeholder="メールアドレス" class="contact-email">
        <textarea name="message" placeholder="お問い合わせ内容"></textarea>
        <input class="contact-submit" type="submit" value="送信">
      </div>
    <div class="footer-content">
      <div class="footer-left">
        <a>フォローする</a>
        <div class="social-icon">
          <a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer-list">
        <ul>
          <a href="#"><li>Deutsch について</li></a>
          <a href="#"><li>はじめてご利用の方へ</li></a>
          <a href="#"><li>特定商取引の表記</li></a>
          <a href="#"><li>ご利用規約</li></a>
          <a href="#"><li>プライバシーポリシー</li></a>
          <a href="#"><li>よくあるご質問</li></a>
        </ul>
      </div>
    </div>
  </body>
</html>