<div class="tabbox-contents">
  <div class="tabbox">
    <div class="triangle_top">
    </div>
  </div>
  <div class="tabbox box-show">
    <div class="triangle_lesson">
    </div>
  </div>
  <div class="tabbox">
    <div class="triangle_test">
    </div>
  </div>
  <div class="tabbox">
    <div class="triangle_grammer">
    </div>
  </div>
  <div class="tabbox">
    <div class="triangle_word">
    </div>
  </div>
  <div class="tabbox">
    <div class="triangle_question">
    </div>
  </div>
</div>