<div class="show-sidebar">
  <%= render partial: 'lessons/account' %>
  <div class="mypage-menu">
    <%= render partial: 'mypage-lessons' %>
  </div>
    <%= render partial: 'triangle-lessons' %>
  </div>
</div>

<div class="lessons-show-main">
</div>
