<div class="tab-list">
  <dl class="toggle">
    <div class="tab">
    <input id="tab-check1" class="tab-check" type="checkbox">
      <dt><label class="tab-label" for="tab-check1"><i class="fas fa-home"></i><%= link_to("トップ", "/users/#{@current_user.id}") %></label></dt>
    </div>
    <div class="tab">
    <input id="tab-check2" class="tab-check" type="checkbox">
      <dt><label class="tab-label" for="tab-check2"><i class="fas fa-chalkboard-teacher"></i>レッスン</label></dt>
      <dd>
        
      </dd>
    </div>
    <div class="tab">
    <input id="tab-check3" class="tab-check" type="checkbox">
      <dt><label class="tab-label" for="tab-check3"><i class="fas fa-pencil-alt"></i>テスト対策</label></dt>
      <dd>テスト対策</dd>
    </div>
    <div class="tab">
    <input id="tab-check4" class="tab-check" type="checkbox">
      <dt><label class="tab-label" for="tab-check4"><i class="fas fa-book"></i>文法まとめ</label></dt>
      <dd>文法まとめ</dd>
    </div>
    <div class="tab">
    <input id="tab-check5" class="tab-check" type="checkbox">
      <dt><label class="tab-label" for="tab-check5"><i class="fas fa-spell-check"></i>重要単語</label></dt>
      <dd>重要単語</dd>
    </div>
    <div class="tab tab-active">
    <input id="tab-check6" class="tab-check" type="checkbox">
      <dt><label class="tab-label" for="tab-check6"><i class="far fa-question-circle"></i>質問</label></dt>
      <dd>
        <a href="/posts/new">質問する</a>
        <a href="/posts/index">質問一覧</a>
      </dd>
    </div>
  </dl>
</div>