/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "sans-serif";
  background-color: rgb(241, 240, 232);
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration:none;
  color: black;
}

header {
  background-color: rgb(241, 240, 232);
  color: black;
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-logo {
  /* float: left; */
  font-size: 40px;
  /* padding: 5px; */
  color: black;
  font-weight: bold;
  font-family: 'Vollkorn', serif;
  /* position: relative; */
}

.header-logo a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  line-height: 55px;
  color: #333;
  display: block;
  text-align: center;
}

.header-right {
  float: right;
  margin-right: 0px;
  font-size: 16px;
}

.about-top:hover{
  transition: all 0.5s;
  background-color: rgb(221, 220, 212);
}

.signup-top:hover {
  transition: all 0.5s;
  background-color: rgb(221, 220, 212);
}

.login-top:hover {
  transition: all 0.5s;
  background-color: rgb(221, 220, 212);
}

.header-right a {
  line-height: 65px;
  padding: 0 20px;
  color: #333;
  display: block;
  float: left
}

.header-right li {
  line-height: 65px;
  color: rgb(221, 220, 212);
  display: block;
  float: left
}

.user-top:hover {
  transition: all 0.5s;
  background-color: rgb(221, 220, 212);
}

.logout-top:hover {
  transition: all 0.5s;
  background-color: rgb(221, 220, 212);
}

/* ページネーション */

.nav-links{
  padding:2em;
  display:flex;
  justify-content:center;
  background:#f3f3f3;
}
.pagenation a,span{
  margin:2px;
  /* line-height:50px; */
  text-align:center;
  font-size:14px;
  text-decoration:none;
  /* background:#fff; */
  color:#fff;
  transition:.3s;
}
.pagenation a:hover{
  background:rgba(4, 163, 17, 0.5);
  border-radius:100%;
  transform:rotate(360deg);
}
.current{
  background: black;
  border-radius:100%;
}
.dots{
  background:none;
}

footer p{
  width: 100%;
  color: #ccc;
  background-color: #333;
  height: 20px;
  font-size: 14px;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin: 0;
  margin-left: 0px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

blockquote {
  width: 580px;
  position: relative;
  padding: 35px 15px 10px 15px;
  box-sizing: border-box;
  font-style: italic;
  background: #f5f5f5;
  color: #777777;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  margin-left: 0;
}

blockquote:before{
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 15px;
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  color: #cfcfcf;
  font-size: 28px;
  line-height: 1;
  font-weight: 900;
}

blockquote p {
  width: 560px;
  padding: 0;
  margin: 7px 0;
  line-height: 1.7;
  font-size: 14px;
}

blockquote a {
  color: #333;
}

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}