.copy-container {
  background-image: url('schloss.jpeg');
  background-size: cover;
  color: white;
  text-align: center;
  padding-bottom: 100px;
}

.copy-container h1 {
  font-size: 140px;
  opacity: 0.7;
  margin-top: 65px;
}

.copy-container h2 {
  font-size: 60px;
  opacity: 0.7;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.google {
  background-color: #DD5144
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px;
}

.fa {
  margin-right: 5px;
}

.contents {
  height: 200px;
  padding: 10px 40px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding: 100px 0 40px;
}

.contents-item-a1 {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 30px;
  background-color: #EA5532;
}

.contents-item-a1 p{
  color: white;
  font-size: 30px;
  text-align:center;
  margin-top: 50px;
}

.contents-item-a2 {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 30px;
  background-color: #F6AD3C;
}

.contents-item-a2 p{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.contents-item-b1 {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 30px;
  background-color: #187FC4;
}

.contents-item-b1 p{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.contents-item-b2 {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 30px;
  background-color: #00AFEC;
}

.contents-item-b2 p{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.contents-item-c1 {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 30px;
  background-color: #00A95F;
}

.contents-item-c1 p{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.contents-item-c2 {
  float: left;
  height: 150px;
  width: 150px;
  background-color: #AACF52;
}

.contents-item-c2 p{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.contents-item-d1 {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 30px;
  background-color: #F5B090;
}

.contents-item-d1 p{
  color: white;
  font-size: 30px;
  text-align:center;
  margin-top: 50px;
}

.contents-item-d2 {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 30px;
  background-color: #FCD7A1;
}

.contents-item-d2 p{
  color: white;
  font-size: 30px;
  text-align:center;
  margin-top: 50px;
}

.contents-item-d3 {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 30px;
  background-color: #A3BCE2;
}

.contents-item-d3 p{
  color: white;
  font-size: 30px;
  text-align:center;
  margin-top: 50px;
}

.contents-item-d4 {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 30px;
  background-color: #9FD9F6;
}

.contents-item-d4 p{
  color: white;
  font-size: 30px;
  text-align:center;
  margin-top: 50px;
}

.contents-item-d5 {
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 30px;
  background-color: #A5D4AD ;
}

.contents-item-d5 p{
  color: white;
  font-size: 30px;
  text-align:center;
  margin-top: 50px;
}

.contents-item-d6 {
  float: left;
  height: 150px;
  width: 150px;
  background-color: #D7E7AF;
}

.contents-item-d6 p{
  color: white;
  font-size: 30px;
  text-align:center;
  margin-top: 50px;
}

.contact-form {  
  padding: 100px 80px;
}

input, textarea {
  width: 500px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

footer {
  background-color: #3e3e3e;
  color: #fff;
  height: 200px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}