.main {
  background: #fff;
  border-radius: 6px;
  padding: 20px 100px;
  width: 500px;
  height: 650px;
  margin: 100px auto;
  box-shadow: 15px 15px 0px rgba(0,0,0,.1);
}

.main h2 {
  text-align: center;
}

.form-heading {
  margin: 0 auto;
  font-weight: 700px;
  color: #333 ;
  text-align: center;
}

.form-body {
  margin: 0 auto;
  line-height: 100px;
}

.form-body input {
  width: 300px;
  height: 70px;
  background: #f5f5f5;
  border: 0;
  margin: 0 auto;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #eee;
  position: relative;
}

.form-body input:hover {
  background-color: #fff;
  box-shadow: 0 3px 0 rgba(0,0,0,.1);
}

.form-body input:active {
  top: 3px;
  box-shadow: none;
}

.login-btn {
  width: 300px;
  height: 70px;
  background: #f5f5f5;
  border: 0;
  margin: 0 auto;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #eee;
  position: relative;
}

.login-btn:hover {
  background-color: #fff;
  box-shadow: 0 3px 0 rgba(0,0,0,.1);
}

.login-btn:active {
  top: 3px;
  box-shadow: none;
}

.form-error {
  height: 20px;
}