/* posts/index ================================ */
.posts-index {
  width: 100%;
  height: 1045px;
  left: 240px;
  top: 65px;
  background-color: #FFF;
}

.posts-index-main {
  width: 600px;
  clear: both;
  position: absolute;
  top: 135px;
  left: 500px;
}

.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

/* posts/show ================================ */
.posts-show {
  width: 100%;
  height: 1050px;
  padding: 20px;
  clear: both;
  top: 65px;
  left: 240px;
  background-color: #FFF;
  overflow: scroll;
  margin-right: 300px;
}

.posts-show-main {
  width: 500px;
  margin-left: 500px;
}

.posts-show-container {
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
}

.posts-show-item {
  padding: 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.post-time {
  font-size: 12px;
  color: black;
  margin-bottom: 10px;
  float: right;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

.like-btn {
  color: rgb(45, 123, 240);
}

.like-btn-unlike {
  color: red;
}

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

.form__submit {
  background-color: #63b47a;
  border-radius: 4px;
  color: #fff;
  line-height: 40px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #458d59;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  border: 0px;
  position: relative;
  width: 110px;
}

.form__submit:hover {
  background-color: #46995e;
  box-shadow: 0 3px 0 #317043;
}

.form__submit:active {
  top: 3px;
  box-shadow: none;
}

/* posts/new ================================ */
.posts-new-main {
  padding-top: 95px;
  height: 1050px;
  padding-left: 250px;
  padding-right: 15px;
  clear: both;
  top: 65px;
  margin-left: 240px;
  background-color: #FFF;
}

.posts-new-container {
  background-color: white;
}

.posts-new_form-body {
  line-height: 50px;
  width: 500px;
}

.posts-new_form-body input {
  width: 300px;
  height: 70px;
  background: #f5f5f5;
  border: 0;
  margin: 0 auto;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #eee;
}

.posts-new_form-body :hover{
  background-color: #fff;
  box-shadow: 0 3px 0 rgba(0,0,0,.1);
}

.posts-new-main textarea {
  width: 500px;
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 2px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}

.posts-form-heading {
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: orangered;
}

.posts-form-error {
  height: 40px;
}

/* ==comment== */
.comments-show-container {
  margin-top: 20px;
  width: 600px;
  margin: 0 auto;
}

.comments-show-item {
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.comments-user-name {
  font-size: 16px;
  padding: 20px;
}

.comments-show-item p {
  font-size: 20px;
  margin: 20px 20px 40px 20px;
  padding: 0.5em 1em;
  font-weight: bold;
  background: #FFF;
  border: solid 3px #A5D4AD;
  border-radius: 10px;
  position: relative;
}

.comments-show-item p:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 10%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #FFF;
  z-index: 2;
}

.comments-show-item p:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 10%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #A5D4AD;
  z-index: 1;
}

.comment-time {
  font-size: 12px;
  color: black;
  margin-bottom: 10px;
  float: right;
}

.comments-show-container textarea {
  width: 570px;
}

.comment-button {
  width: 140px;
  float: right;
  position: relative;
  background-color: #63b47a;
  border-radius: 4px;
  color: #fff;
  line-height: 40px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #458d59;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  padding-left: 30px;
}

.comment-button a {
  color: white;
  margin: 10px;
}

.comment-button:hover {
  background-color: #46995e;
  box-shadow: 0 3px 0 #317043;
}

.comment-button:active {
    top: 3px;
    box-shadow: none;
}

.comment-button-check {
  display: none;
}

#response {
  font-size: 14px;
  color: orangered;
}

.comment-check{
  display: none;
}

.comment-content{
  border: solid 3px #63b47a;
  border-radius: 10px;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: .5s;
  visibility: hidden;
}
.comment-check:checked + .comment-button + .comment-content{
  height: 220px;
  opacity: 1;
  padding: 10px;
  margin-top: 50px;
  visibility: visible;
}

textarea#comment_text.textbox {
  width: 515px;
  height: 100px;
  margin: 10px 0;
}

.comment-button,
.comment-content {
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
transform: translateZ(0);
transition: all 0.3s;
}

.comment-button::after,
.comment-button::before {
content: "";
position: absolute;
left: 0.75em;
top: 0.9em;
width: 2px;
height: 0.75em;
background-color: #fff;
transition: all 0.3s;
}

.comment-button::after {
transform: rotate(90deg);
}

.comment-check:checked + .comment-button + .comment-content {
transition: all 1.5s;
}
.comment-check:checked + .comment-button::before {
transform: rotate(90deg) !important;
}