.words-main {
  margin-left: 240px;
  height: 1060px;
  padding-top: 65px;
  background-color: white;
  position: relative;
}

#blockBtn {
  width: 80px;
  padding: 0px;
  margin-left: 0px;
  font-size: 14px;
}

#nonBtn {
  width: 80px;
  padding: 0px;
  margin-left: 0px;
  font-size: 14px;
}

#blockBtn2 {
  width: 80px;
  padding: 0px;
  margin-left: 0px;
  font-size: 14px;
}

#nonBtn2 {
  width: 80px;
  padding: 0px;
  margin-left: 0px;
  font-size: 14px;
}

#blockBtn3 {
  width: 80px;
  padding: 0px;
  margin-left: 0px;
  font-size: 14px;
}

#nonBtn3 {
  width: 80px;
  padding: 0px;
  margin-left: 0px;
  font-size: 14px;
}

.words-button1 {
  width: 300px;
}

.words-button2 {
  width: 300px;
}

.words-button3 {
  width: 500px;
}

.words-button1 p{
  font-weight: 700;
  margin-left: 60px;
}

.words-button2 p{
  font-weight: 700;
  margin-left: 60px;
}

.words-button3 p{
  font-weight: 700;
  margin-left: 70px;
}

#wordBox1 {
  height:500px;
  width:300px;
  font-size: 12px;
}

#wordBox2 {
  height:500px;
  width:300px;
  font-size: 12px;
}

#wordBox3 {
  height:500px;
  width:500px;
  font-size: 12px;
}

#words-serch {
  height: 145px;
  width: 300px;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 80px;
  position: relative;
}

#words-serch p{
  margin: 0;
}

#result {
  width: 300px;
  height: 110px;
  font-size: 12px;
  margin: 0;
  top: 85px;
  left: 340px;
  position: absolute;
  overflow: auto;
  overflow-x: hidden;
}

.word-container {
  height: 950px;
  width: 800px;
  margin: 20px 0 0 100px;
  border: 3px solid;
  border-color: black;
  padding-left: 10px;
}

a.word-speech {
  color: white;
  background-color: black;
  font-size: 20px;
}

a.word-red {
  color: rgb(218, 20, 20);
}

a.word-blue {
  color: rgb(13, 13, 175);
}

a.word-number {
  color: white;
  background-color: rgb(218, 20, 20);
  font-size: 20px;
}